{% extends 'cepat/base.html' %}
{% block title %} CEPAT-South SudanT | ABOUT{% endblock title %}
{% block content %}




		<!-- Banner -->
		<div class="banner banner-static">
                <div class="container">
                    <div class="content row">
                        
                        <div class="imagebg">
                            <img src="/static/cepat/image/banner-inside-d.jpg" alt="">
                        </div>
    
                    </div>
                </div>
            </div>
            <!-- End Banner -->
        </header>
        <!-- End Header -->
    
        <!-- Content -->
        <div class="section section-contents section-pad">
            <div class="container">
                
                <div class="content row">
    
                        <h1>About CEPAT</h1>
						<p>Centre for Promotion of Appropriate Technology (CEPAT) is a registered South Sudanese non-governmental organization (Reg. No. 538) whose registration date is 9th May 2017. 
The mission of the organization is to promote, through enterprise-led approach, use of appropriate technology for implementation of sustainable grassroots projects that help provide solutions to health-related ailments, socio-economic inequalities and environmental issues by building skills, influencing people and supporting livelihoods and sustainable growth in economic opportunities. 
We work in the domain of promoting sustainable energy technologies, appropriate safe water and sanitation technologies, sustainable agriculture/agribusiness livelihood technologies, environmental management technologies and sustainable building technologies. 
We believe that when people are provided with simple, cost effective technologies and empowered with skills, information and opportunities to fulfil their potential, and given the space to make transformative choices, then we will achieve our vision of building empowered, vibrant, healthy and inclusive communities. 
We work with communities to achieve this vision and mission through culturally respectful and participatory processes grounded in our belief that people must have a stake in their development and contribute towards solving their own problems.
</p>
						
				
						<h4>Our Vision</h4>
						<p>A healthy, empowered and productive society where men, women, boys and girls thrive, live in harmony with nature and make right decisions for their own and the earth's benefit.</p>
						<h4>Our Mission</h4>
						<p>{CEPAT is on mission to champion deployment and utilization of small-scale, sustainable technological solutions that promote dignity, economic growth and self-sufficiency, irreversibly improve the quality of life and reduce adverse impacts on the environment. </p>
                    <div class="col-sm-10 npr">
                            <h4>Our Values</h4>
                        <ul>
                          <li><strong>Mutual Respect</strong> </li>
                          <p>We believe in mutual respect and thereby recognize the innate worth of all 
                              people and the value of their unique experiences.</p>

                          <li><strong>Equity</strong></li>
                          <p>We believe in equity and we will work to ensure equal opportunity to everyone, irrespective of race, age, gender,
                               sexual orientation, class, ethnicity, disability, location and religion.</p>

                          <li><strong>Honesty and Transparency</strong></li>
                          <p>We believe in honesty and transparency and we will be held accountable
                               for the effectiveness of our actions and open in our communication.</p>

                          <li><strong>Solidarity</strong></li>
                          <p>We believe in solidarity with the powerless and the excluded.  </p>

                          <li><strong>Courage Of Conviction</strong></li>
                          <p>We believe in the courage of conviction, encourage creativity, boldness, and innovation without the fear of failure as we work to make 
                              the greatest possible impact in the lives of the people. </p>

                          <li><strong> Humility </strong></li>
                          <p>We believe in humility and recognize that we belong to a larger movement fighting for the rights and welfare of citizens.</p>
                          


                        </ul>





                    </div>
    
                </div>
            </div>
        </div>
        <!-- End content -->
    
       
    
        <!-- Testimonials -->
        <div class="section section-quotes section-pad bg-light">
            <div class="container">
                <div class="content row">
                
                    <div class="col-md-offset-2 col-md-8 center">
                        <h2 class="heading-section">What Our Client Say's</h2>
                    </div>
                    <div class="gaps"></div>
                    <div class="testimonials">
                        <div id="testimonial" class="quotes-slider col-md-8 col-md-offset-2">
                            <div class="owl-carousel loop has-carousel" data-items="1" data-loop="true" data-dots="true" data-auto="true">
                                <div class="item">
                                    <!-- Each Quotes -->
                                    <div class="quotes">
                                        <div class="quotes-text center">
                                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo nemo enim ipsam.</p>
                                        </div>
                                        <div class="profile">
                                            <h5>James Wani</h5>
                                            <h6>Manager</h6>
                                        </div>
                                    </div>
                                    <!-- End Quotes -->
                                </div>
                                <!-- End Slide -->
                                <!-- Each Slide -->
                                <div class="item">
                                    <!-- Each Quotes -->
                                    <div class="quotes">
                                        <div class="quotes-text center">
                                            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam.</p>
                                        </div>
                                        <div class="profile">
                                            <h5>Diana Chris</h5>
                                            <h6>CEO</h6>
                                        </div>
                                    </div>
                                    <!-- End Quotes -->
                                </div>
                            </div>
                            <!-- End Slide -->
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <!-- End Section -->
      
        <!-- Client logo -->
        <div class="section section-logos section-pad-md bdr-top bg-light">
            <div class="container">
                <div class="content row">
    
                    <div class="owl-carousel loop logo-carousel">
                        <div class="logo-item"><img alt="" width="190" height="82" src="/static/cepat/image/cl-logo1.png"></div>
                        <div class="logo-item"><img alt="" width="190" height="82" src="/static/cepat/image/cl-logo2.png"></div>
                        <div class="logo-item"><img alt="" width="190" height="82" src="/static/cepat/image/cl-logo3.png"></div>
                        <div class="logo-item"><img alt="" width="190" height="82" src="/static/cepat/image/cl-logo4.png"></div>
                        <div class="logo-item"><img alt="" width="190" height="82" src="/static/cepat/image/cl-logo5.png"></div>
                        <div class="logo-item"><img alt="" width="190" height="82" src="/static/cepat/image/cl-logo6.png"></div>
                    </div>
    
                </div>
            </div>	
        </div>
        <!-- End Section -->
    



{% endblock content %}