	

	
	<!-- Banner -->
		<div class="banner banner-static">
			<div class="container">
				<div class="content row">
					
					<div class="imagebg">
						<img src="image/banner-inside-d.jpg" alt="">
					</div>

				</div>
			</div>
		</div>
		<!-- End Banner -->
	</header>
	<!-- End Header -->
	<!-- Contents -->
	<div class="section section-contents section-pad">
		<div class="container">
			{% for about in abouts %}
			<div class="content row">

				<div class="row">
					<div class="col-md-8">
					
						<h1>{{ about.about_title}}</h1>
						<p>{{ about.about_body}}.</p>
						
				
						<h4>Our Vision</h4>
						<p>{{ about.vision_body}}</p>
						<h4>Our Mission</h4>
						<p>{{ about.mission_body }}</p>
						<div class="gaps"></div>
						<div class="col-md-7 npl res-m-bttm">
							<h4>Our Strategy</h4>
							<p>The management and operational arrangements of Centre for Promotion of Appropriate Technology (CEPAT) is structured in the following manner:</p>
						<ul>
                         <l></l>

						 <li><strong>• Board of Directors</strong> – a body that directs the organization’s policies and strategies and meets two times a year.
							 The board members were elected by the amongst the trustees by a vote.
						 <li><strong>• Management Team</strong> – Management of the day to day affairs of the organization</li>
						 <li><strong>• Project Staff</strong> – staff that carry activities for projects undertaken by the organization.</li>
						 

						</ul>
						
						
						</div>
						<div class="col-md-4 npr col-md-offset-1">
							<h4>Our Values</h4>
							<p>The Centre for Promotion of Appropriate Technology rests on the following beliefs:</p>
							<ul>
							
    <li><strong>We believe in mutual respect </strong></li> and thereby recognize the innate worth of all people and the value of their unique experiences.
	<li><strong>We believe in equity</strong></li> and we will work to ensure equal opportunity to everyone, irrespective of race, age, gender, sexual orientation, class, ethnicity, disability, location and religion.
	<li><strong>We believe in honesty</strong></li> and transparency and we will be held accountable for the effectiveness of our actions and open in our communication.
	<li><strong>We believe in solidarity</strong></li> with the powerless and the excluded.  
	<li><strong>We believe in the courage</strong></li> of conviction, encourage creativity, boldness, and innovation without the fear of failure as we work to make the greatest possible impact in the lives of the people. 
	<li><strong>We believe in humility</strong></li> and recognize that we belong to a larger movement fighting for the rights and welfare of citizens.

							</ul>
						</div>
						<div class="clear"></div>
						
						<hr>
						<h2>KEY PERSONNEL OF THE ORGANIZATION </h2>
						<img alt="" src="/static/cepat/image/gov.png" width="1000px" height="500px" />
						<div class="team-member-row row mgtop">
							<div class="col-md-4 col-sm-6 col-xs-6 even">
								<!-- Team Profile -->
								<div class="team-member">
									<div class="team-photo">
										<img alt="" src="/static/cepat/image/team-1.jpg">
									</div>
									<div class="team-info">
										<h4 class="name">Robert Miller</h4>
										<p class="sub-title">Managing Director &amp; CEO</p>
									</div>
								</div>
								<!-- Team #end -->
							</div>
							<div class="col-md-4 col-sm-6 col-xs-6 odd">
								<!-- Team Profile -->
								<div class="team-member">
									<div class="team-photo">
										<img alt="" src="/static/cepat/image/team-b.jpg">
									</div>
									<div class="team-info">
										<h4 class="name">Stephen Everett</h4>
										<p class="sub-title">Chief Operating Officer</p>
									</div>
								</div>
								<!-- Team #end -->
							</div>
							<div class="col-md-4 col-sm-6 col-xs-6 even">
								<!-- Team Profile -->
								<div class="team-member">
									<div class="team-photo">
										<img alt="" src="/static/cepat/image/team-c.jpg">
									</div>
									<div class="team-info">
										<h4 class="name">Philip Hennessy</h4>
										<p class="sub-title">Non-Executive Director</p>
									</div>
								</div>
								<!-- Team #end -->
							</div>
							<div class="col-md-4 col-sm-6 col-xs-6 odd">
								<!-- Team Profile -->
								<div class="team-member">
									<div class="team-photo">
										<img alt="" src="/static/cepat/image/team-d.jpg">
									</div>
									<div class="team-info">
										<h4 class="name">Robert Miller</h4>
										<p class="sub-title">Head of Human Resources</p>
									</div>
								</div>
								<!-- Team #end -->
							</div>
							<div class="col-md-4 col-sm-6 col-xs-6 even">
								<!-- Team Profile -->
								<div class="team-member">
									<div class="team-photo">
										<img alt="" src="/static/cepat/image/team-e.jpg">
									</div>
									<div class="team-info">
										<h4 class="name">Stephen Everett</h4>
										<p class="sub-title">Director &amp; Company Secretary</p>
									</div>
								</div>
								<!-- Team #end -->
							</div>
							<div class="col-md-4 col-sm-6 col-xs-6 odd">
								<!-- Team Profile -->
								<div class="team-member">
									<div class="team-photo">
										<img alt="" src="/static/cepat/image/team-f.jpg">
									</div>
									<div class="team-info">
										<h4 class="name">Philip Hennessy</h4>
										<p class="sub-title">Non-Executive Director</p>
									</div>
								</div>
								<!-- Team #end -->
							</div>
						</div><!-- TeamRow #end -->

					</div>

					<!-- Sidebar -->
					<div class="col-md-4">
						<div class="sidebar-right">

							<div class="wgs-box wgs-menus">
								<div class="wgs-content">
									<ul class="list list-grouped">
										<li class="list-heading">
											<span>About Our Firms</span>
											<ul>
												<li class="current"><a href="about-us.html">Overview</a></li>
												<li><a href="history.html">Our History</a></li>
												<li><a href="teams.html">Board Of Directors</a></li>
												<li><a href="teams-alter.html">Management Team</a></li>
												<li><a href="investors.html">Our Investors</a></li>
											</ul>
										</li>
										<li><a href="clients.html">Our Clients</a></li>
										<li><a href="resources.html">Resources</a></li>
										<li><a href="responsibility.html">Responsibility</a></li>
										<li><a href="testimonial.html"><span>Testimonials</span></a></li>
									</ul>									
								</div>
							</div>

							<div class="wgs-box wgs-quoteform">
								<h3 class="wgs-heading">Quick Contact</h3>
								<div class="wgs-content">
									<p>If you have any questions or would like to book a session please contact us.</p>
									<form  id="contact-us" class="form-quote" action="http://demo.themenio.com/industrial/form/contact.php" method="post">
										<div class="form-results"></div>
										<div class="form-group">
											<div class="form-field">
												<input name="contact-name" type="text" placeholder="Name *" class="form-control required">
											</div>
										</div>
										<div class="form-group">
											<div class="form-field">
												<input name="contact-email" type="email" placeholder="Email *" class="form-control required email">
											</div>
										</div>
										<div class="form-group">
											<div class="form-field form-m-bttm">
												<input name="contact-phone" type="text" placeholder="Phone" class="form-control">
											</div>
										</div>
										<div class="form-group">
											<div class="form-field">
												<input name="contact-service" type="text" placeholder="Interest of Service" class="form-control">
											</div>
										</div>
										<div class="form-group">
											<div class="form-field">
												<textarea name="contact-message" placeholder="Messages *" class="txtarea form-control required"></textarea>
											</div>
										</div>
										<input type="text" class="hidden" name="form-anti-honeypot" value="">
										<button type="submit" class="btn btn-alt sb-h">Submit</button>
									</form>
								</div>
							</div>

						</div>
					</div>
					<!-- Sidebar #end -->
				</div>

			</div>
		</div>		
	</div>
	<!-- End Section -->
        