{% extends 'cepat/base.html' %}
{% block title %} CEPAT-South Sudan | ENERGY{% endblock title %}
{% block content %}



<!-- Banner -->
		<div class="banner banner-static">
			<div class="container">
				<div class="content row">
					
					<div class="imagebg">
						<img src="/static/cepat/image/banner-inside-b.jpg" alt="">
					</div>

				</div>
			</div>
		</div>
		<!-- End Banner -->
	</header>
	<!-- End Header -->

	<!-- Content -->
	<!-- Contents -->
	<div class="section section-contents section-pad">
		<div class="container">
			<div class="content row">
			
				<div class="row">
					<div class="col-md-8">
					
						<h1>Power and Energy Solution</h1>
						<p><strong>We are specializes in the design of electrical systems for a wide range applications.</strong></p>
						<p>Morbi leo risus porta ac consectetur estib ulumat eros. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercation ullamco laboris nisi ution aliquip exon commodo conquat. Donec id elit non mi porta gravida at eget metus.</p>
						<div class="col-list space-top-md">
							<div class="row">
								<div class="col-sm-6 res-m-bttm">
									<img src="/static/cepat/image/photo-sm-energy-b.jpg" alt="" class="aligncenter">
									<h3 class="color-primary">Specializations</h3>
									<p>Leverage agile frameworks sit amet enim ad minim veniam, quis nostrud exercation ullamco laboris nisi ution aliquip exon commodo conquat. Duis aute irure dolor nostrud ullamco. Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
								</div>
								<div class="col-sm-6">
									<img src="/static/cepat/image/photo-sm-energy-e.jpg" alt="" class="aligncenter">
									<h3 class="color-primary">Turnkey Solutions</h3>
									<p>Bring to the table dolor sit amet enim ad minim veniam, quis nostrud exercation ullamco laboris nisi ution aliquip exon commodo conquat. Duis aute irure dolor nostrud ullamco. Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
								</div>
							</div> 
						</div>
						<div class="clear"></div>
						<div class="gaps size-lg"></div>
						<h3>Following Types We Offer:</h3>
						
						<div class="panel-group accordion" id="general" role="tablist" aria-multiselectable="true">
							<!-- each panel of faq as accordion -->
							<div class="panel panel-default">
								<div class="panel-heading" role="tab" id="ques-i1">
									<h4 class="panel-title">
										<a class="collapsed" role="button" data-toggle="collapse" data-parent="#general" href="#ques-ans-i1" aria-expanded="false">
											Support and Analysis
											<span class="plus-minus"><span></span></span>
										</a>
									</h4>
								</div>
								<div id="ques-ans-i1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="ques-i1">
									<div class="panel-body">
										  <p><img width="320" src="/static/cepat/image/photo-sm-energy-c.jpg" alt="" class="alignright"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercation ullamco laboris nisi ution aliquip exon commodo conquat. Donec id elit non mi porta gravida at eget metus. Quise nostrud exercation ullamco laboris nisi ution aliquip exon commodo conquat laboris nisie.</p>
									</div>
								</div>
							</div> 
							<!-- each panel of faq as accordion -->
							<div class="panel panel-default">
								<div class="panel-heading" role="tab" id="ques-i2">
									<h4 class="panel-title">
										<a class="collapsed" role="button" data-toggle="collapse" data-parent="#general" href="#ques-ans-i2" aria-expanded="false">
											Measuring Performance
											<span class="plus-minus"><span></span></span>
										</a>
									</h4>
								</div>
								<div id="ques-ans-i2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="ques-i2">
									<div class="panel-body">
										<p><img width="320" src="/static/cepat/image/photo-sm-energy-d.jpg" alt="" class="alignright"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercation ullamco laboris nisi ution aliquip exon commodo conquat. Donec id elit non mi porta gravida at eget metus. Quise nostrud exercation ullamco laboris nisi ution aliquip exon commodo conquat laboris nisie.</p>
									</div>
								</div>
							</div>
							<!-- each panel of faq as accordion -->
							<div class="panel panel-default">
								<div class="panel-heading" role="tab" id="ques-i3">
									<h4 class="panel-title">
										<a class="collapsed" role="button" data-toggle="collapse" data-parent="#general" href="#ques-ans-i3" aria-expanded="false">
											Technical Consultation
											<span class="plus-minus"><span></span></span>
										</a>
									</h4>
								</div>
								<div id="ques-ans-i3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="ques-i3">
									<div class="panel-body">
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercation ullamco laboris nisi ution aliquip exon commodo conquat.</p>
									</div>
								</div>
							</div>
							<!-- each panel of faq as accordion -->
						</div>
						
						<p>If you have any questions regarding our services, please <strong>contact us</strong> or call at <strong>800 1234 5677</strong>.</p>
						
					</div>
					<!-- Sidebar -->
					<div class="col-md-4">
						<div class="sidebar-right">

							<div class="wgs-box wgs-menus">
								<div class="wgs-content">
									<ul class="list list-grouped">
										<li class="list-heading">
											<span>Our Solutions and Services</span>
											<ul>
												<li><a href="solution-single.html">Agricultural Engineering</a></li>
												<li><a href="solution-single-alter.html">Chemical Research Engineering</a></li>
												<li><a href="solution-single-extend.html">Material Science and Engineering</a></li>
												<li><a href="solution-single.html">Mechanical Engineering</a></li>
												<li><a href="solution-single-alter.html">Oil and Gas</a></li>
												<li><a href="solution-single-extend.html">Power and Energy</a></li>
											</ul>
										</li>
									</ul>									
								</div>
							</div>

							<div class="wgs-box wgs-quoteform">
								<h3 class="wgs-heading">Quick Contact</h3>
								<div class="wgs-content">
									<p>If you have any questions or would like to book a session please contact us.</p>
									<form  id="contact-us" class="form-quote" action="http://demo.themenio.com/industrial/form/contact.php" method="post">
										<div class="form-results"></div>
										<div class="form-group">
											<div class="form-field">
												<input name="contact-name" type="text" placeholder="Name *" class="form-control required">
											</div>
										</div>
										<div class="form-group">
											<div class="form-field">
												<input name="contact-email" type="email" placeholder="Email *" class="form-control required email">
											</div>
										</div>
										<div class="form-group">
											<div class="form-field form-m-bttm">
												<input name="contact-phone" type="text" placeholder="Phone" class="form-control">
											</div>
										</div>
										<div class="form-group">
											<div class="form-field">
												<input name="contact-service" type="text" placeholder="Interest of Service" class="form-control">
											</div>
										</div>
										<div class="form-group">
											<div class="form-field">
												<textarea name="contact-message" placeholder="Messages *" class="txtarea form-control required"></textarea>
											</div>
										</div>
										<input type="text" class="hidden" name="form-anti-honeypot" value="">
										<button type="submit" class="btn btn-alt sb-h">Submit</button>
									</form>
								</div>
							</div>

						</div>
					</div>
					<!-- Sidebar #end -->
				</div>
				
			</div>
		</div>		
	</div>
	<!-- End Section -->










{% endblock content %}