{% extends 'cepat/base.html' %}
{% block title %} CEPAT-South Sudan | ENVIROMENT{% endblock title %}
{% block content %}


<!-- Banner -->
		<div class="banner banner-static">
			<div class="container">
				<div class="content row">
					
					<div class="imagebg">
						<img src="/static/cepat/image/banner-inside-c.jpg" alt="">
					</div>

				</div>
			</div>
		</div>
		<!-- End Banner -->
	</header>
	<!-- End Header -->

	<!-- Contents -->
	<div class="section section-contents section-pad">
		<div class="container">
			<div class="content row">
			
				<div class="row">
					<div class="col-md-8">

						<img src="/static/cepat/image/photo-lg-a.jpg" alt="" class="aligncenter">
						<h1>Oil and Gas Solution</h1>
						<p class="lead">The petroleum industry includes the global processes of exploration, extraction, refining, transporting petroleum products.</p>
						<p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Donec id elit non mi porta gravida at eget metus. Curabitur blandit tempus porttitor.</p>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercation ullamco laboris nisi ution aliquip exon commodo conquat. Duis aute irure dolor nostrud ullamco.</p>
						<h3>We Can Offer Following Types Of Solutions:</h3>
						<p>We are ipsum dolor sit amet enim ad minim veniam, quis nostrud exercation ullamco laboris nisi ution aliquip exon commodo conquat. Duis aute irure dolor nostrud ullamco. Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
						<ul class="list-style arrow">
							<li>Support and Analysis</li>
							<li>Suggesting Ingredients</li>
							<li>Measuring Performance</li>
							<li>Technical Consultation</li>
						</ul>

						<div class="col-list space-top-md space-bottom-md">
							<div class="row">
								<div class="col-sm-6 col-xs-6">
									<img src="image/photo-sm-oil-a.jpg" alt="" class="aligncenter">
								</div>
								<div class="col-sm-6 col-xs-6">
									<img src="/static/cepat/image/photo-sm-oil-b.jpg" alt="" class="aligncenter">
								</div>
							</div> 
						</div>
						<div class="clear"></div>

						<h3>Specializations</h3>
						<p>Leverage agile frameworks sit amet enim ad minim veniam, quis nostrud exercation ullamco laboris nisi ution aliquip exon commodo conquat. Duis aute irure dolor nostrud ullamco. Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
						<h3>Turnkey Solutions</h3>
						<p>Bring to the table dolor sit amet enim ad minim veniam, quis nostrud exercation ullamco laboris nisi ution aliquip exon commodo conquat. Duis aute irure dolor nostrud ullamco. Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
						<p>If you have any questions regarding our services, please <strong>contact us</strong> or call at <strong>800 1234 5677</strong>.</p>
						
					</div>
					
					<!-- Sidebar -->
					<div class="col-md-4">
						<div class="sidebar-right">

							<div class="wgs-box wgs-menus">
								<div class="wgs-content">
									<ul class="list list-grouped">
										<li class="list-heading">
											<span>Our Solutions and Services</span>
											<ul>
												<li><a href="solution-single.html">Agricultural Engineering</a></li>
												<li><a href="solution-single-alter.html">Chemical Research Engineering</a></li>
												<li><a href="solution-single-extend.html">Material Science and Engineering</a></li>
												<li><a href="solution-single.html">Mechanical Engineering</a></li>
												<li><a href="solution-single-alter.html">Oil and Gas</a></li>
												<li><a href="solution-single-extend.html">Power and Energy</a></li>
											</ul>
										</li>
									</ul>									
								</div>
							</div>

							<div class="wgs-box wgs-quoteform">
								<h3 class="wgs-heading">Quick Contact</h3>
								<div class="wgs-content">
									<p>If you have any questions or would like to book a session please contact us.</p>
									<form  id="contact-us" class="form-quote" action="http://demo.themenio.com/industrial/form/contact.php" method="post">
										<div class="form-results"></div>
										<div class="form-group">
											<div class="form-field">
												<input name="contact-name" type="text" placeholder="Name *" class="form-control required">
											</div>
										</div>
										<div class="form-group">
											<div class="form-field">
												<input name="contact-email" type="email" placeholder="Email *" class="form-control required email">
											</div>
										</div>
										<div class="form-group">
											<div class="form-field form-m-bttm">
												<input name="contact-phone" type="text" placeholder="Phone" class="form-control">
											</div>
										</div>
										<div class="form-group">
											<div class="form-field">
												<input name="contact-service" type="text" placeholder="Interest of Service" class="form-control">
											</div>
										</div>
										<div class="form-group">
											<div class="form-field">
												<textarea name="contact-message" placeholder="Messages *" class="txtarea form-control required"></textarea>
											</div>
										</div>
										<input type="text" class="hidden" name="form-anti-honeypot" value="">
										<button type="submit" class="btn btn-alt sb-h">Submit</button>
									</form>
								</div>
							</div>

						</div>
					</div>
					<!-- Sidebar #end -->
				</div>
				
			</div>
		</div>		
	</div>
	<!-- End Section -->









{% endblock content %}