{% extends 'cepat/base.html' %}
{% block title %} CEPAT-South Sudan | Objectives {% endblock title %}
{% block content %}
<div class="container">

<div class="col-md-9">
  <h2 class="heading-section">STRATEGIC PROGRAMMATIC AREAS </h2>
  <p>Overall, the below priority areas have been identified based on our global focus of<strong>
   Empowering People, Protecting Natural Resources and Improving Health.
              Our work thus falls into the following global strategic programmatic areas:</strong></p>
<img src="/static/cepat/image/plan.png" alt="" />
<p>All CEPAT programmes and projects of CEPAT utilize simple, easy-to-use, cheap technologies (appropriate technologies) to<strong> Empower People (mainly Women and Youth), Protect Natural Resources and Improve Health</strong>. 
                            We implement our programmes through two departments or units each headed by Coordinator of the Unit - 1) Unit for Technical and Enterprise Incubation Services
                             <strong> (TENIS) and 2) Unit for Management of Grassroots Support Projects (GRASPS)</strong>. </p>
                    
                     <h4> Grassroots Support Projects (GRASPS)</h4>
                     <p>The Unit for Management of Grassroots Support Projects (GRASPS) implements donor
                          funded community development projects which directly benefit people at
                           grassroots level to address development needs for rural and peri-urban 
                           communities through use of various types of appropriate technologies,
                            skills building and creation of community based small businesses for 
                            sustainable uptake of these technologies for community development with 
                            a purpose of securing sustainable livelihoods for rural people through appropriate technology. CEPAT works to provide information and practical assistance with housing, water supply, energy, waste, agriculture and other infrastructure issues. CEPAT supports communities
                          through community development, planning, training processes and project management.  </p>


                          <h4> The Unit for Technical and Enterprise Incubation Services (TENIS) </h4>
                     <p><strong>(TENIS)</strong> is a Unit of CEPAT that acts as a demonstration unit, a resource centre and a
                          social enterprise for sale of appropriate technology products. It also provides
                           consultancies on appropriate technology. As a social enterprise of the organization,
                            the unit will sell, at subsidized price, its products and services to raise money to 
                            cover some of its running costs.
                          The organization therefore partly raises its own funds by engaging, for fees, in: </p>

                          <ul>
                                <li>• Consultancy services for government, non-governmental organizations, UN Agencies;</li>
                                <li>• Skills training, seminars and workshop for community groups;</li>
                                <li>• Demonstration site for use of appropriate technology in agriculture, water supply, energy and housing.</li>
                                <li>• Acquisition and sale of appropriate technology products, materials and supplies to have the benefit of creating a lasting supply chain of appropriate technology.</li>
                                <li>• A resource centre for provision of information on appropriate technology.</li>
                          </ul>
                          </div></div>



 <!-- Why Choose -->
        <div class="section section-contents section-pad light has-bg fixed-bg" 
        style="background-image: url(/static/cepat/image/plx-dark-default.jpg);">
            <div class="container">
                <div class="content row">
    
               

                          
                            
 <strong>The strategic outcomes that our programmes seek to achieve are as follows: </strong>

                    <div class="clear"></div>
                    <div class="feature-intro space-top">
    
                        <div class="row">
                            <div class="col-sm-3 res-s-bttm">
                                <div class="icon-box style-s2">
                                    <em class="fa fa-briefcase" aria-hidden="true"></em>
                                </div>
                                <h4>Sustainable Livelihood</h4>
                                <p>1.	Sustainable livelihood opportunities provided to community members through access to low cost and efficient productivity-enhancing simple technologies, equipments, tools and skillsets that enable community members improve production,
                                     create enterprises and therefore improve their incomes and living standards. </p>
                            
                                
                            
                            </div>
                            <div class="col-sm-3 res-s-bttm">
                                <div class="icon-box style-s2">
                                    <em class="fa fa-black-tie" aria-hidden="true"></em>
                                </div>
                                <h4>Inclusive Essential Services</h4>
                                <p>
                                        2.	Sustained healthy living practices and harmonious living environment for community members through provision of access to inclusive essential services including safe water supply, safe and protected environment, improved nutrition, decent shelter and improved ambient air quality.
                                        </p>
                            </div>
                            <div class="col-sm-3 res-s-bttm">
                                <div class="icon-box style-s2">
                                    <em class="fa fa-cogs" aria-hidden="true"></em>
                                </div>
                                <h4>Environmental Management</h4>
                                <p>3.	Increased productivity and incomes for communities through best land, water and forest management practices and use of appropriate technologies that reduce pollution and land, water and forest degradation, promote sustainable use of natural resources and ensure maintenance of critical ecosystem functions. </p>
                            </div>
                            <div class="col-sm-3">
                                <div class="icon-box style-s2">
                                    <em class="fa fa-building" aria-hidden="true"></em>
                                </div>
                                <h4>Sustainability</h4>
                                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusan tiudo lorem quveniamv eniam laud accusan tiud.</p>
                            </div>
                        </div>
    
                       
                               <h4><strong> Strategic Objectives</strong> </h4>

                                <p>The vision and mission of the organization will be achieved through the following strategic objectives:</p>
                                
                                
                               <strong>A.	Promote appropriate technological solutions to improve living conditions of rural communities targeting individual households while having least effect on the environment.</strong> 
                                <div class="row">
                            <div class="col-sm-3 res-s-bttm">
                                <div class="icon-box style-s2">
                                    <em class="fa fa-diamond" aria-hidden="true"></em>
                                </div>
                                <h4>Sustainable Rural Housing </h4>
                                <p>– alternative building construction like use of stabilized soil blocks for sustainable shelter for cost effective housing and environmental conservation.</p>
                            </div>
                            <div class="col-sm-3 res-s-bttm">
                                <div class="icon-box style-s2">
                                    <em class="fa fa-check-square" aria-hidden="true"></em>
                                </div>
                                <h4>Household Energy for cooking and lighting </h4>
                                <p> – appropriate technologies that are less costly, time saving, wood/biomass saving, less emission e.g. different types of improved cook stoves, solar lighting – sustainable energy.</p>
                            </div>
                            <div class="col-sm-3 res-s-bttm">
                                <div class="icon-box style-s2">
                                    <em class="fa fa-bolt" aria-hidden="true"></em>
                                </div>
                                <h4>Load lighting/time reducing of women work-burden (technologies/practices)</h4>
                                <p>- reduce time and labour for land tilling, firewood collection and water fetching e.g. hippo water roller, backyard woodlots, roof or canvas rainwater harvesting.</p>
                            </div>
                            <div class="col-sm-3">
                                <div class="icon-box style-s2">
                                    <em class="fa fa-lightbulb-o" aria-hidden="true"></em>
                                </div>
                                <h4>Appropriate technology in primary healthcare delivery </h4>
                                <p> - that can supply essential health services to communities to improve women's and children's health e.g. bicycle & motorbike ambulance, household biosand water filters, solar briefcase to light child delivery, those used in waste management, food safety, handwashing, etc.</p>
                            </div>

                        </div>


                        

                           <h4><strong>B.	Promote appropriate technological solutions to reduce drudgery and improve rural production and diversify livelihood, reduce post-harvest losses  and increase value addition for improved income.</strong> </h4>

                           <div class="row"> 
                            <div class="col-sm-6 res-s-bttm">
                                <div class="icon-box style-s2">
                                    <em class="fa fa-diamond" aria-hidden="true"></em>
                                </div>
                                <h4>Agriculture </h4>
                                <p>– appropriate technology that reduces labour burden and increase productivity - in land preparation, sowing and fertilizing, pest control, harvesting, water lifting, livestock care, beekeeping – leading to improve food production - focus on agriculture techniques, plant
                                     and breeds and any other appropriate tools and resources e.g. use of ox ploughs and carts.</p>
                            </div>
                            <div class="col-sm-6 res-s-bttm">
                                <div class="icon-box style-s2">
                                    <em class="fa fa-check-square" aria-hidden="true"></em>
                                </div>
                                <h4>Post-Harvest and small scale agro processing  </h4>
                                <p>– identifying and promoting adoption of cost effective appropriate postharvest loss reduction and value addition technologies at household or 
                                    at small women cooperative level e.g. the zeer evaporative coolers, metallic drum silos, solar dryers.</p>
                            </div>
                        </div>

                    
                   

                       <div> <h4><strong>C.	Promote appropriate technological and business solutions (with market and financial support) to assist micro and small agro/artisan-based enterprises (farm/non-farm) to produce products (and value addition) for local consumption and for sale to increase income.</strong> </h4></div>

                         <div class="row"> 
                        <div class="col-sm-4 res-s-bttm">
                            <div class="icon-box style-s2">
                                <em class="fa fa-diamond" aria-hidden="true"></em>
                            </div>
                            <h4>Value addition:  </h4>
                            <p> – This involves processing animal products, honey, fruits and vegetables to make a number of products. The products so far made include yogurt, honey, juices, jams, sauces, pickles, nectars, wine, starch, dried fruit & vegetable.</p>
                        </div>
                        <div class="col-sm-4 res-s-bttm">
                            <div class="icon-box style-s2">
                                <em class="fa fa-check-square" aria-hidden="true"></em>
                            </div>
                            <h4>Training:  </h4>
                            <p>– identifying and promoting adoption of cost effective appropriate postharvest loss reduction and value addition technologies at household or 
                                at small women cooperative level e.g. the zeer evaporative coolers, metallic drum silos, solar dryers.</p>
                        </div>
                
                    <div class="col-sm-4 res-s-bttm">
                            <div class="icon-box style-s2">
                                <em class="fa fa-check-square" aria-hidden="true"></em>
                            </div>
                            <h4>Business incubation:  </h4>
                            <p>– Various business entrepreneurs to receive technical assistance in form of training, technology transfer (equipment) and facilities provision and linkage to finance and market.</p>
                        </div>
                    </div>




                   <div> <h4><strong>D.	Establish appropriate, need-based resource centre for training and capacity building (skills, knowledge) of local resource persons including artisans in production/promotion of appropriate and act as a conduit for transfer of appropriate technologies. </strong> </h4> </div>
                    <div class="row">
                    <div class="col-sm-3 res-s-bttm">
                        <div class="icon-box style-s2">
                            <em class="fa fa-diamond" aria-hidden="true"></em>
                        </div>
                        <h4>Tools and Equipments  </h4>
                        <p>  - Procure, through a range of networks, appropriate technology equipments, tools and products for sale, provide skills training and after-sales advice and maintenance for users.</p>
                    </div>
                    <div class="col-sm-3 res-s-bttm">
                        <div class="icon-box style-s2">
                            <em class="fa fa-check-square" aria-hidden="true"></em>
                        </div>
                        <h4>Networking  </h4>
                        <p>- Network and organize the rural producers, provide technical and managerial inputs to the rural enterprises and link up with local/regional/national agencies for technical, financial and marketing support, assistance and collaboration. </p>
                    </div>
              
                <div class="col-sm-3 res-s-bttm">
                        <div class="icon-box style-s2">
                            <em class="fa fa-check-square" aria-hidden="true"></em>
                        </div>
                        <h4>Outreach  </h4>
                        <p>- Establishment of organizational structures in rural locations for transfer of appropriate technologies, better management and marketing facilities for increasing rural prosperity. Transfer of need-based appropriate technologies through training programmes, demonstration, dissemination, propagation and popularization with active community participation. </p>
                    </div>
                
                <div class="col-sm-3 res-s-bttm">
                        <div class="icon-box style-s2">
                            <em class="fa fa-check-square" aria-hidden="true"></em>
                        </div>
                        <h4>Awareness   </h4>
                        <p>- Dissemination of technological information of relevance through leaflets, brochures, bulletins, booklets, newsletters, CDs, films, Internet and other audio-visual aids.</p>
                    </div>
                </div>
                </div>
                </div></div></div>

</div>



{% endblock content %}