{% extends 'cepat/base.html' %}
{% block title %} CEPAT-South Sudan | REPORT{% endblock title %}
{% block content %}

<!-- Banner -->
		<div class="banner banner-static">
			<div class="container">
				<div class="content row">
				
					<div class="imagebg">
						<img src="image/banner-inside-a.jpg" alt="">
					</div>

				</div>
			</div>
		</div>
		<!-- End Banner -->
	</header>
	<!-- End Header -->

	<!-- Content -->
	<div class="section section-contents section-products single-product section-pad">
	    <div class="container">
	        <div class="content row">

	        	<div class="products-details row">
	        		<div class="col-md-8 res-m-bttm">
						<h1>Hydraulic Power Wheel Loader</h1>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
						<p class="gaps size-xs"></p>
						<p><img alt="" src="image/product-lg-a.jpg"></p>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation. ullamconaliquip ex ea commodo consequat ad minim veniam. Quis nostrud ea commodo consequat exercitation onaliquip expoe.</p>
						<h3>Products Features</h3>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod incididunt ut labore et dolore magna aliqua quis nostrud. exercitation. ullamconaliquip ex ea commodo consequat.</p>
						<ul class="list-style">
							<li><strong>Magna aliqua</strong> ensures uninte eppted</li>
							<li><strong>Esusmod dolor</strong> sit always ensures</li>
							<li><strong>Consectetur</strong> adipiscing normal valve seats</li>
						</ul>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
						<h3>Specification</h3>
						<div class="table-responsive">          
							<table class="table">
							<thead>
								<tr>
									<th>Name</th>
									<th>Data</th>
									<th>Range</th>
									<th>Dimension</th>
									<th>Value</th>
									<th>Capacity</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>Low Pressure</td>
									<td>34</td>
									<td>35</td>
									<td>02x34"</td>
									<td>543.04</td>
									<td>40k</td>
								</tr>
								<tr>
									<td>Medium Pressure</td>
									<td>74</td>
									<td>57</td>
									<td>03x54"</td>
									<td>343.84</td>
									<td>46k</td>
								</tr>
								<tr>
									<td>High Pressure</td>
									<td>24</td>
									<td>98</td>
									<td>06x87"</td>
									<td>743.34</td>
									<td>23Hz</td>
								</tr>
							</tbody>
							</table>
						</div>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
									
						<div class="feature-imagebox border download-action">
							<div class="block">
								<h3>Download PDF Datasheet</h3>
								<p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris.</p>
								<a href="#" target="_blank" class="btn">Download PDF <i class="fa fa-file-pdf-o"></i> </a>
							</div>
						</div>
					</div>

					
							

							

						</div>
					</div>
					<!-- Sidebar #end -->
	        	</div>

	        </div>
	    </div>
	</div>
	<!-- End Content -->

{% endblock content %}